.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

nav.header a{
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 32px;
}

nav.header a:hover {
    color: #535bf2;
  }